@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContent {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 2rem;
  font-family: "Noto Sans", sans-serif;
  color: rgb(23, 159, 159);
}
